<div class="main-div">
    <div>
      <div class="logoOnpe">
        <img src="../../../assets/img/PantallasCS3_Onpe.png" alt="">
      </div>
    </div>
    <div class="center">
      <div class="logoSistema">
        <h1>SINONPE</h1>
        <p>Sistema de Notificaciones de la ONPE</p>
      </div>
      <div class="centerTitle">
        RECUPERAR CONTRASEÑA
      </div>

      <!-- El formulario debe ocultarse una vez enviado el enlace de recuperación -->
      <form #myform="ngForm" [formGroup]="Formulario" class="example-form" (ngSubmit)="onSumit()" > 
        
        <div class="loginRadio labelsColor">
            <mat-radio-group aria-label="Select an option" formControlName="fm_option" (change)="radioChange($event)">
              <mat-radio-button value="1">DNI</mat-radio-button>
              <mat-radio-button value="2">Carnet de extranjería</mat-radio-button>
            </mat-radio-group>
        </div>
        <mat-form-field class="example-full-width bigInputColor" appearance="outline">
            <span matPrefix class="material-icons">account_box</span>
            <input matInput placeholder="{{placeHolder}}" (keypress)="validar_campo($event)" formControlName="fm_usuario" [class.control-invalid]="formInvalid('fm_usuario')"  [attr.maxlength]="getMaxLengthNumeroDocumento" [minlength]="getMin" required   appOnlyNumber="integer" autocomplete="false">
        </mat-form-field>
        <div *ngIf="RequerdCaptcha" >
          <re-captcha  (resolved)="resolved($event)" 
                      formControlName="recaptchaReactive" 
                      siteKey= {{sitekey}} [required]="RequerdCaptcha">  
          </re-captcha>
        </div>
        <br>
        <span class="mensajeLogin">{{mensaje}}</span>
        
        <div fxLayout="row" fxLayoutAlign="center center">
          <!-- <button type="submit" fxFlex="50" class="btnGrey" mat-raised-button>Cancelar</button> -->
          <button type="submit" fxFlex="50" class="btnBlue" mat-raised-button [disabled]="myform.invalid">Enviar</button>
        </div>
      </form>

      <!-- Este div debe mostrarse una vez enviado el enlace de recuperación -->
      <div *ngIf="notView" class="successfulBox">
          <h2>Envío exitoso</h2>
           {{msgCorrect}}
      </div>
      <a href="#" class="mensajeOlvidar">Volver al login</a>
    </div>
    <div class="dirFooter">
      Jr. Washington 1894, Lima 01<br/>
      informes@onpe.gob.pe  -  Fono ONPE: 417 0630 opción 1<br/>
      Horario de atención: Lunes a Sábado de 08:00 h – 20:00 h
    </div>
  </div>
  