.imgLogoOnpe{
  width: auto;
  height: 64px;
}
.seccionUser{
  position: relative;
  z-index: 101;
  max-height: 64px;
}
.seccionUser:hover{
  max-height: none;
}


.seccionUser .User > span {
  color: #656565;
  line-height: 1;
  text-align: right;
}

.seccionUser .User  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccionUser ul{
  max-height: 0;
  opacity: 0;
  background: #ffffff;
  position: absolute;
  border-radius: 5px;
  top: 0px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);  border-bottom: red solid 3px;
  width: 100%;
  right: 10px;
  min-width: 260px;
  max-width: 420px;
  padding: inherit;
  transition:  01s;
  list-style: none;
  overflow: hidden;
}

.seccionUser:hover ul{
  display: block;
  opacity:1;
  top: 60px;
  background: #ffffff;
  max-height: 1000px;
  overflow: visible;
}



.seccionUser ul:before{
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -15px;
  right: 10px;
  border-bottom: 16px solid #fff;
  position: absolute;
}


.seccionUser ul .User{
  display: block;
  width: 100%;
  background: #e6e6e6;
  border-radius: 5px 5px 0px 0px;
  height: 110px;
}
.seccionUser ul .User *{
  clear: both;
  white-space: normal;
}

.seccionUser ul{
  word-wrap: normal;
  list-style: none;
}
.accountInfo{
  font-size: 12px;
  line-height: 14px;
  text-align: right;
}
.accountInfo2{
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  font-display: unset;
}
.accountInfo2>span{
  display: block;
}
.seccionUser ul li > span {
  color: red;

}

.seccionUser ul li  {
  display: block;
  white-space: normal;
  width: 100%;
}
.seccionUser ul li a {
  padding: 9px;
  color: #4d4d4d;
  display: block;
  font-size: 16px;
  width: calc(100% - 18px);
}

.seccionUser ul li a:hover{
  color: #fff;
  background:#4d4d4d;
}


.seccionUser ul .User > span{
  text-align: left;
}
.seccionUser .User span i{
  font-weight: 100;
  font-size: 12px;
  font-style: normal;
}



.seccionUser ul li a span{
  vertical-align: middle;
  display: inline-block;
  margin: 5px 0 10px 0;
}

.fotoUser {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #777;
  border-radius: 50%;
  margin: 10px;
  min-width: 40px;
}

.fotoUser2 {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #777;
  border-radius: 50%;
  margin: 10px;
  min-width: 60px;
}


.fotoUser img, .fotoUser2 img {
  width: 100%;
}

/***** User & Close Btn (Ini) *****/
.cardHeader .mat-button{
  background: #BD6C15;
  color: #FFFFFF;
}
.cardHeader .userInfo{
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0 8px;
}
.cardHeader .material-icons{
  color: #11D19F;
  font-size: 30px;
}
/***** User & Close Btn (Ini) *****/

@media (max-width: 960px){
  .imgLogoOnpe {
    height: 40px;
  }
}
@media (max-width: 600px){
  /*
  .nameFlex{
    
  }
  */
  .nameFlex span{
    word-break: normal;
    white-space: nowrap;
  }
}