
<div fxFlex>
    <mat-form-field class="">
        <mat-label>Clearable input</mat-label>
        <input matInput type="text" [(ngModel)]="value">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field class="">
        <mat-label>First name</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="">
        <mat-label>Last name</mat-label>
        <input matInput>
    </mat-form-field>
</div>