<section>
    <div class="allTitles" fxLayout="row">
        <span class="brownCircle"></span>
        <span class="greyLine"></span>
        Notificaciones electrónicas
    </div>
    <div id="imp1" class="generalBox ">
        <div class="controlBox inputColor">
            <div class="topLine">
                <div class="limit50 printLine">
                    <a (click)="print();">
                        <span class="material-icons">print</span>
                        Imprimir
                    </a>
                </div>
            </div>
            <div fxLayout="row" class="limit50 detailHead">
                <div class="listPhotoBox" fxLayout="column" fxLayoutAlign="center center">
                    <div class="listCircle rdmColor_1" fxLayout="row" fxLayoutAlign="center center">
                      G
                    </div>
                </div>
                <div class="listSubject " fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex>
                        <p class="lSubject">
                           {{this.formulario.controls['n_expediente'].value}}
                        </p>
                        <p class="lGerencia">
                            
                        </p>
                        <p class="lDetalleDate">
                            {{this.formulario.controls['n_received_at'].value | date:"dd/MM/yyyy hh:mm a"}} 
                        </p>
                    </div>
                    <div>
                        <button mat-stroked-button (click)="downloadAcuse();">
                            Descargar acuse
                            <span class="material-icons">
                                download
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div fxLayout="row" class="limit50 inputColor dobleGreyLine" *ngFor="let adjunto of adjuntos">
                <a  fxLayout="row" fxLayoutAlign="start center" (click) ="viewDocument(adjunto);">
                    <mat-icon matSuffix class="grad45">attach_file</mat-icon>
                   {{adjunto.name}}
                </a>
            </div>
            <div class="formNotif textBlue" fxLayout="row wrap">
                <div fxFlex="100" class="padd_4">
                    <p>
                        {{this.formulario.controls['n_message'].value}} 
                    
                    </p> 
                </div>
            </div>  
            <div class="blueSeed limit50">
                <img src="../../../../assets/img/onpeblanco.svg" alt="">
            </div>
            <div class="topLine1 limit50">

            </div> 
            <div class="greyBoxIndicator limit50" fxLayout="row">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="greyBoxTitle">
                        Estado de la notificación:
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div class="listCtrls posRef" fxLayout="row">
                        <div class="listBtnBox2">
                          Notificado
                          <div class="color_1 posUno ">
                            <mat-icon>check_circle</mat-icon>
                          </div>
                          <div class="microInfo">
                            {{this.formulario.controls['n_received_at'].value | date:"dd/MM/yyyy hh:mm a"}} 
                          </div>
                        </div>
                        <div class="listBtnBox2">
                          Leído
                          <div class="{{view2}}">
                            <mat-icon>{{icon2}}</mat-icon>
                          </div>
                          <div class="microInfo">
                            {{this.formulario.controls['n_read_at'].value | date:"dd/MM/yyyy hh:mm a"}} 
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
