.universe{
    width: 100%;
    height: 100%;
}
.menuContent{
    width: 260px;
    background: rgba(255,255,255,1);
    /* background: rgba(60,58,58,1);
    background: rgba(39,38,38,1);
    background: rgba(0,0,0,0.9);
    background: rgb(100, 120, 146); */
    -webkit-box-shadow: 3px 0px 37px -13px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 0px 37px -13px rgba(0,0,0,0.1);
    box-shadow: 3px 0px 37px -13px rgba(0,0,0,0.1);
    padding-top: 4px;
    z-index: 898;
}
.menuContent .mat-flat-button{
    /* background: #ff4081;
    background: linear-gradient(60deg, #24899a, #48d4c7);
    background: linear-gradient(60deg, #0c5b69, #35c3b6); */
    background: linear-gradient(60deg, rgb(0 0 0 / 20%), rgb(0 0 0 / 0.20));
    color: #ffffff;
    margin: 3px 7px;
    height: 50px;
    width: 100%;
    text-align: left;
}
.menuContent .mat-flat-button:hover{
    background: linear-gradient(60deg, rgb(255 255 255 / 10%), rgb(255 255 255 / 0.10));
}
.menuContent .mat-flat-button.select{
    /* background: linear-gradient(60deg, #61155f, #a9008c); */     
    background: linear-gradient(60deg, #e31c51, #e21f47);
}
/***** SideBar (Ini) *****/
.usrIniciales{
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    margin: 16px 0 16px 22px;
    background: #11d19f;
    color: #FFFFFF;
    font-size: 30px;
}
.usrPhoto{
    width: 70px;
    height: 70px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    position: relative;
    overflow: hidden;
    margin: 16px 0 16px 22px;
}
.usrPhoto img{
    width: 100%;
    height: auto;
}
.usrIntro{
    padding-left: 27px;
    font-size: 16px;
    color: #BD6C15;
    font-weight: 400;
}
.usrBox{
    margin-left: 15px;
    border-left: #D1D1D1 solid 1px;
    padding-left: 10px;
}
.usrBox h1{
    font-size: 40px;
    color: #1D3572;
}
.usrBox h1::before{
    content: "";
    width: 10px;
    height: 32px;
    background: #BD6C15;
    margin-left: -20px;
    position: absolute;
}
.usrBox button{
    background: #11D19F;
    color: #FFFFFF;
}
.usrPerfil{
    font-size: 16px;
    color: #1D3572;
    padding: 0;
    margin-bottom: 2px;
    font-weight: 500;
}
.usrGerencia{
    font-size: 14px;
    color: #707070;
    font-weight: 300;
}
.separatorLine{
    width: 208px;
    height: 1px;
    background: #D1D1D1;
    margin: 16px 0 16px 0;
}
.menuOptions .mat-stroked-button{
    width: 230px;
    margin-left: 22px;
    background-color: #F5F6FA;
    color:#1D3572;
    border: none;
    border-left: #0DD020 solid 2px;
    border-radius: 0;
    text-align: left;
    font-weight: 500;
    font-size: 14px;
}
.menuOptions .mat-stroked-button .material-icons{
    font-size: 20px;
}
/***** SideBar (Fin) *****/ 
/***** Botones Inferiores (Ini) *****/ 
#menuInferior button{
    background: #11D19F;
    color: #FFFFFF;
}
#menuInferior .mat-button, #menuInferior .mat-icon-button, #menuInferior .mat-stroked-button, #menuInferior .mat-flat-button{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#menuInferior p.infBtn{
    line-height: 14px;
    padding-top: 10px;
}
/***** Botones Inferiores (Fin) *****/ 

   